{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}
    </h1>Je suis ta descendance de type masculine !</h1>

{% endblock %}

{% block title %}
    {{parent()}} Symfony 4 
{% endblock %}