{% extends 'base.html.twig' %}

{% block title %} 
Symfony 4 - Apprenez à coder en s'amusant ! 
{% endblock %}

{% block body %} 
    {{ parent() }}  
    <h1>Page d'accueil</h1>  

   

{% endblock %}

