<p>Redirection depuis un template</p>

<a href="{{path('index')}}">Cliques moi dessus wsh !</a>
<br>
<a href="{{path('test', {'id': 19, 'ext': 'png'})}}">test</a>

{# <a href="{{path('index')}}">INDEX</a> #}
