{% extends 'base.html.twig' %}

{% block title %} 
Sessions Symfony 4 avec Twig
{% endblock %}

{% block body %} 
    {{ parent() }}

    <h1>Liste des sessions actives</h1>

    {{ display|raw }}
    
{% endblock %}